/* основной цвет текста #212121 */
/* вторичный цвет текста #757575  */
/* акцент #2196F3  */
/* черный #000000 */
/* белый основной #FFFFFF  */
/* белый вторичный  rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #F5F4FA */
/* основной цвет фона  #F5F5F5 */
/*вторичный цвет фона для героя #2F303A */

/* General styles */
/* :root {
  /* --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;
  --primary-white-color: #ffffff; */
/* --primary-black-color: #000000; */
/* --secondary-white-color: rgba(255, 255, 255, 0.6);
  --specific-ident: 10px;
  --img-ident: 30px;
  --icon-bg: #afb1b8;
  --border: 1px solid #eeeeee;
} */
/* h1,
h2,
h3,
p {
  margin: 0;
}

.page-body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.link,
.logo-link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
} */

/* Main nav */

/* .main-nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  background-color: $primaryWhiteColor;
}

.nav-list__link {
  color: $accentColor;
  position: relative;
}

.current.nav-list__link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -1px;

  background-color: $accentColor;
  border-radius: 2px;
} */

/* Logo */
/* .main-nav__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: $primaryBlackColor;
  font-family: $secondaryFont;
  font-style: normal;
}

.main-nav__logo-accent {
  color: $accentColor;
} */

/* Header-nav */

/* .nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primaryTextColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: $accentColor;
}
.link:focus {
  color: $accentColor;
} */

/* Contacts */

/* .contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__tel-link {
  padding-left: 50px;
}

.contact-list__mail-link,
.contact-list__tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondaryTextColor;
}

.header-portfolio {
  background-color: $primaryWhiteColor;
}

.contact-list__header-icon {
  margin-right: 10px;
  align-self: center;
}
.contact-list__icon-mail {
  width: 16px;
  height: 12px;
}
.contact-list__icon-tel {
  width: 10px;
  height: 16px;
}

.contact-list__icon {
  display: inline-flex;
  fill: $secondaryTextColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon:hover,
.contact-list__icon:focus {
  fill: $accentColor;
} */
/* Hero */

/* .hero.centered {
  max-width: 1600px;
  margin: 0 auto;

  background-color: $tertiaryBgColor;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */
/* 
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primaryWhiteColor;

  margin: 0 auto 30px;
  max-width: 696px;
}

.button {
  background-color: $accentColor;
  border: none;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  letter-spacing: 0.06em;
  color: $primaryWhiteColor;
  font-family: inherit;

  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  margin: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
} */

/* Features */

/* .features-icons {
  display: flex;
  height: 120px;
  width: 270px;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-icons__icon {
  display: inline-block;
}

.features__list {
  display: flex;
}

.features__list .features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primaryTextColor;
  margin-top: 0;
  margin-bottom: var(--specific-ident);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
} */

/* Section Work */
/* .works {
  padding-top: 0;
}

.work__list {
  display: flex;
  padding-top: 0;
}

.work__list .work__item:not(:last-child) {
  margin-right: 30px;
}

.work__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primaryTextColor;

  margin-bottom: 50px;
}

.work__img {
  display: block;
}

.thumb {
  position: relative;
}

.work__img-title {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primaryWhiteColor;
} */

/* Our team */
/* 
.team {
  background-color: $secondaryBgColor;
}

.team-list {
  display: flex;
}

.team-list .social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-icons__icon {
  fill: $iconBg;
}

.team-list .social-icons__item {
  width: 44px;
  height: 44px;
}

.team-list .social-icons__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $primaryWhiteColor;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons .social-icons__link:hover,
.social-icons .social-icons__link:focus {
  background-color: v$accentColor;
}
.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: $primaryWhiteColor;
}

.team-list .social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.team-list .team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team .centered {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.team__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primaryTextColor;
  margin-bottom: 50px;
}

.team-list__img {
  margin-bottom: $imgIdent;
}

.team-list__pre-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primaryTextColor;

  margin-bottom: $specificIdent:;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondaryTextColor;

  padding-bottom: 16px;
}

.team-list__item {
  background-color: $primaryWhiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* Clietns */

/* .clients.centered {
  padding: 94px 0;
}

.clients .clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primaryTextColor;
  margin-bottom: 50px;
}

.cliets-list {
  display: flex;
  justify-content: center;
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: $iconBg;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
} */

/* footer */
/* .page-footer {
  background: $tertiaryBgColor;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-footer__logo-accent {
  color: $accentColor;
}
.page-footer__second-part-logo {
  color: $primaryWhiteColor;
}

.page-footer__address-block {
  margin-right: 70px;
}

.footer-address {
  font-family: "Roboto";
  font-style: normal;
  padding-top: 20px;
}

.footer-address__text-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primaryWhiteColor;
}

.footer-address__mail-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: $secondaryWhiteColor;

  margin-bottom: 9px;
}

.footer-address__tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: $secondaryWhiteColor;
  margin-bottom: 60px;
}

.footer-icons__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primaryWhiteColor;

  margin-bottom: 20px;
}

.footer-list {
  display: flex;
}

.footer-list .footer-list__icon:not(:last-child) {
  margin-right: 10px;
}

.footer-list__icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .container {
  display: flex;
}

.footer-icons {
  padding-top: 12px;
  margin-right: 93px;
}

.social-icons__icon--white {
  fill: $primaryWhiteColor;
}

.footer-list__icon-link:hover .social-icon,
.footer-list__icon-link:focus .social-icon {
  fill: $primaryWhiteColor;
}
.footer-list__icon-link:hover,
.footer-list__icon-link:focus {
  background-color: $accentColor;
}

.footer-join {
  padding-top: 12px;
}

.footer-join__text {
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primaryWhiteColor;
  margin-bottom: 20px;
}

.input-field__input-footer {
  width: 358px;
  height: 50px;
  background-color: $tertiaryBgColor;
  outline-style: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $primaryWhiteColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field__input-footer:focus {
  border: 1px solid $accentColor;
}

.input-field__input-footer::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-join {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.button-join__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $primaryWhiteColor;
  padding-right: 10px;
}

.input-field {
  display: flex;
} */

/* Portfolio */
/* 
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  background: $secondaryBgColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primaryTextColor;

  border: none;
  cursor: pointer;

  min-width: 73px;
  padding: 6px 22px;

  background: #f5f4fa;
  border-radius: 4px;
}

.filter-list__button.link {
  color: $primaryTextColor;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button.link:hover,
.filter-list__button.link:focus {
  background-color: $accentColor;
  color: $primaryWhiteColor;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
} */

/* Progects */

/* .progects {
  background-color: $primaryWhiteColor;
}

.progects-list {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  margin: auto;
}

.progects-list__item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
  width: 370px;
}

.progects-list__item:nth-child(3n) {
  margin-right: 0;
}

.progects-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.progects-list__item:hover,
.progects-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.progects-list__item {
  background-color: $primaryWhiteColor;
}

.description {
  padding: 20px 24px;
  border-bottom: $border;
  border-left: $border;
  border-right: $border;
}

.overlay {
  display: block;
  position: relative;
  overflow: hidden;
}

.progect-list-img {
  display: block;
}

.overlay__text {
  position: absolute;
  width: 370px;
  height: 294px;
  padding: 63px 24px;

  bottom: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  color: $primaryWhiteColor;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progects-list .progects-list__link:hover .overlay__text,
.progects-list .progects-list__link:focus .overlay__text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primaryTextColor;

  margin-bottom: 4px;
}

.description__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $secondaryTextColor;
} */

/* MODAL */
/* 
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop__modal {
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  position: relative;

  background-color: $primaryWhiteColor;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-backdrop__modal .close-sign {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-sign:hover {
  fill: #2196f3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  padding: 40px;
}

.modal-form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
}

.input-wrapper__input {
  width: 100%;
  height: 40px;
  margin-bottom: 28px;
  padding: 11px 12px;

  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: $primaryTextColor;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper__input:focus {
  outline-style: none;
  border: 1px solid $accentColor;
}

.input-wrapper__input:focus + .input-wrapper__icon {
  fill: $accentColor;
}

.modal-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primaryWhiteColor;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: $secondaryTextColor;
}

.modal-textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: $primaryTextColor;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.input-wrapper input {
  margin-bottom: 0;
}

.input-wrapper__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  outline-style: none;
  border: 1px solid $accentColor;
}

.checkbox--agree {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: $secondaryTextColor;
}

.checkbox--agree {
  display: flex;
  align-items: center;
}
.checkbox--agree::before {
  display: flex;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid $primaryTextColor;
  border-radius: 2px;

  margin-right: 8px;
}
.checkbox--agree .checkbox__link {
  color: $accentColor;
}

.check-line input:checked + .checkbox--agree::before {
  background-color: $accentColor;
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
