.features-icons {
  display: flex;
  height: 120px;
  width: 270px;
  background-color: $secondaryBgColor;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  &__icon {
    display: inline-block;
  }
}

.features {
  &__list {
    display: flex;
  }
  &__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primaryTextColor;
    margin-top: 0;
    margin-bottom: $specificIdent;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondaryTextColor;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
