.main-nav__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: $primaryBlackColor;
  font-family: $secondaryFont;
  font-style: normal;
}

.main-nav__logo-accent {
  color: $accentColor;
}
